global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'ingestion-api'
    static_configs:
      - targets: ['ingestion:8000']
    metrics_path: '/metrics'

  - job_name: 'analytics-api'
    static_configs:
      - targets: ['analytics-api:8001']
    metrics_path: '/metrics'

  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka:9101']

  - job_name: 'clickhouse'
    static_configs:
      - targets: ['clickhouse:9363']
